---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.page-section {
	padding: 60px 0;
}

.page-text {
	font-size: 14px;
	font-weight: 300;
	color: #626878;
	line-height: 1.7;
}