---
---

@charset "utf-8";

.page-section {
	padding: 60px 0;
}

.page-text {
	font-size: 14px;
	font-weight: 300;
	color: #626878;
	line-height: 1.7;
}

details {
	padding-top: 0px;
	padding-bottom: 20px;
	color: grey;
}
