<div id="conference_sponsors">
    <section class="conference_sponsors">
        <h4>Diamond Sponsor</h4>
        <a href="https://www.iphh.net/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_iphh.png" title="IPHH">
        </a>
    </section>
    <section class="conference_sponsors">
        <h4>Social Sponsor</h4>
        <a href="https://www.ipb.de/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_ipb.png" title="I/P/B/">
        </a>
    </section>
    <section class="conference_sponsors">
        <h4>Platinum Sponsors</h4>
        <a href="https://www.thomas-krenn.com/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_thomaskrenn.jpg" title="IPHH">
        </a>

        <a href="https://www.nl-ix.net/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_NLIX.png" title="NL-ix">
        </a>
        <a href="https://www.flexoptix.net/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_flexoptix.png" title="Flexoptix">
        </a>
        <a href="https://www.epsglobal.com" target="_blank">
            <img src="/images/meetings/denog16/sponsor_eps.png" title="EPS Global">
        </a>
        <a href="https://www.nesevo.com" target="_blank">
            <img src="/images/meetings/denog16/sponsor_nesevo.png" title="nesevo">
        </a>
    </section>
    <section class="conference_sponsors_small">
        <h4>Gold Sponsors</h4>
        <a href="https://www.bcix.de" target="_blank">
            <img src="/images/meetings/denog16/sponsor_bcix.png" title="BCIX">
        </a>
        <a href="https://smartoptics.com/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_smartoptics.png" title="smartoptics">
        </a>
    </section>
    <section class="conference_sponsors_small">
        <h4>Lunch Sponsors</h4>
        <a href="https://de-cix.net" target="_blank">
            <img src="/images/meetings/denog16/sponsor_decix.png" title="DE-CIX">
        </a>
        <a href="https://www.core-backbone.com/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_corebb.png" title="Core-Backbone">
        </a>
        <br />
        <h4>Coffee Sponsor</h4>
        <a href="https://www.inter.link/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_interlink.png" title="IPHH">
        </a>
        <h4>Lanyard Sponsor</h4>
        <a href="https://www.xantaro.net/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_xantaro.png" title="Xantaro">
        </a>
        <h4>MeetMe Sponsor</h4>
        <a href="https://www.arista.com/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_arista.jpg" title="Arista">
        </a>
    </section>
    <section class="conference_sponsors_small">
        <h4>Support Sponsors</h4>
        <a href="https://www.dc1.com/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_dc1.jpg" title="Datacenter One">
        </a>
        <a href="https://www.babiel.com/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_babiel.png" title="Babiel">
        </a>
        <a href="https://www.eurofiber.de/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_eurofiber.png" title="eurofiber">
        </a>
    </section>
    <section class="conference_sponsors_small">
        <h4>Interconnection Sponsors</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog16/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
        <a href="https://www.rrbone.net" target="_blank">
            <img src="/images/meetings/denog16/sponsor_rrbone.png" title="rrbone">
        </a>
        <a href="https://nix.cz/en/meet/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_meet.png" title="meet">
        </a>
        <a href="https://www.global.ntt/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_ntt.png" title="NTT">
        </a>
    </section>
</div>