<div id="conference_sponsors">
    <section class="conference_sponsors">
        <h4>Diamond Sponsor</h4>
        <a href="https://www.iphh.net/" target="_blank">
            <img src="/images/meetings/denog16/sponsor_iphh.png" title="IPHH">
        </a>
        <section class="conference_sponsors">
            <h4>Platinum Sponsors</h4>
            <a href="https://www.thomas-krenn.com/" target="_blank">
                <img src="/images/meetings/denog16/sponsor_thomaskrenn.jpg" title="IPHH">
            </a>
        </section>
        <section class="conference_sponsors_small">
            <h4>Gold Sponsors</h4>
            <a href="https://www.bcix.de" target="_blank">
                <img src="/images/meetings/denog16/sponsor_bcix.png" title="BCIX">
            </a>
        </section>
        <section class="conference_sponsors_small">
            <h4>Support Sponsors</h4>
            <a href="https://www.dc1.com/" target="_blank">
                <img src="/images/meetings/denog16/sponsor_dc1.jpg" title="Datacenter One">
            </a>
        </section>
        <section class="conference_sponsors_small">
            <h4>Connectivity Sponsors</h4>
            <a href="https://www.telekom.de" target="_blank">
                <img src="/images/meetings/denog16/sponsor_dtag.png" title="Deutsche Telekom">
            </a>
            <a href="https://www.rrbone.net" target="_blank">
                <img src="/images/meetings/denog16/sponsor_rrbone.png" title="rrbone">
            </a>
        </section>
</div>