
     <br>
     <br>
     <br>
     <img src='https://www.denog.de/images/denog-logo-konferenz-11_v001_whitebg.png' style='width:250px;'>
  <br>
     <br>
     <br>
     <br>
     <br>
     <br>
      <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/index.html" class="btn btn-custom-default pull-left">Überblick</a><br><br>
      <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/tickets.html" class="btn btn-custom-default pull-left">Registrierung</a><br><br>
      <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/zeitplan.html" class="btn btn-custom-default pull-left">Zeitplan</a><br>
<br>
     <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/cfp.html" class="btn btn-custom-default pull-left">Call for Papers</a><br><br>
     <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/teilnehmer.html" class="btn btn-custom-default pull-left">Teilnehmer</a><br><br>
     <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/location.html" class="btn btn-custom-default pull-left">Location</a><br><br>
     <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/hotels.html" class="btn btn-custom-default pull-left">Hotels</a><br><br>
     <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/orga.html" class="btn btn-custom-default pull-left">Orga Team</a><br><br>
     <a href="{{ site.url }}/{{ page.lang }}/meetings/denog11/sponsoring.html" class="btn btn-custom-default pull-left">Sponsoring</a><br><br>
