<div id="conference_sponsors">

    <section class="conference_sponsors_large">
        <h4>Diamond Sponsor</h4>
        <a href="https://www.inter.link" target="_blank">
            <img src="/images/meetings/denog14/sponsor_interlink.png" title="inter.link">
        </a>
    </section>

    <section>
        <h4>Platin Sponsor</h4>
        <a href="https://www.de-cix.net" target="_blank">
            <img src="/images/meetings/denog14/sponsor_decix.png" title="DE-CIX">
        </a>

        <a href="https://www.nl-ix.net/" target="_blank">
            <img src="/images/meetings/denog14/sponsor_NLIX.png" title="NL-IX">
        </a>
        <a href="https://www.bcix.de/" target="_blank">
            <img src="/images/meetings/denog14/sponsor_bcix.png" title="BCIX">
        </a>

    </section>

    <section class="conference_sponsors_small">
        <h4>Gold Sponsor</h4>

        <a href="https://www.core-backbone.com" target="_blank">
            <img src="/images/meetings/denog14/sponsor_corebb.png" title="Core-Backbone">
        </a>


        <a href="https://www.aliternetworks.de/" target="_blank">
            <img src="/images/meetings/denog14/sponsor_aliter.png" title="Aliter Networks">
        </a>

        <a href="https://www.flexoptix.net/" target="_blank">
            <img src="/images/meetings/denog14/sponsor_flexoptix.png" title="Flexoptix">
        </a>

        <a href="https://www.opengear.com/" target="_blank">
            <img src="/images/meetings/denog14/sponsor_opengear.png" title="opengear">
        </a>
    </section>

    <section>
        <h4>Social Sponsor</h4>
        <a href="https://www.iphh.net" target="_blank">
            <img src="/images/meetings/denog14/sponsor_iphh.png" title="IPHH">
        </a>

        <h4>Lunch Sponsor</h4>
        <a href="https://www.flexoptix.net" target="_blank">
            <img src="/images/meetings/denog14/sponsor_flexoptix.png" title="Flexoptix">
        </a>

        <h4>Lanyard Sponsor</h4>
        <a href="https://www.thomas-krenn.com" target="_blank">
            <img src="/images/meetings/denog14/sponsor_thomaskrenn.jpg" title="Thomas-Krenn">
        </a>

        <h4>Coffee Sponsor</h4>
        <a href="https://www.arista.com" target="_blank">
            <img src="/images/meetings/denog14/sponsor_arista.jpg" title="Arista">
        </a>
    </section>

    <section class="conference_sponsors_small">
        <h4>Silver Sponsor</h4>
        <a href="https://www.drivenets.com" target="_blank">
            <img src="/images/meetings/denog14/sponsor_drivenets.png" title="drivenets">
        </a>
        <a href="https://www.dc1.com" target="_blank">
            <img src="/images/meetings/denog14/sponsor_dc1.jpg" title="DC1">
        </a>
        <a href="https://www.xantaro.de" target="_blank">
            <img src="/images/meetings/denog14/sponsor_xantaro.png" title="Xantaro">
        </a>
    </section>

    <section class="conference_sponsors_small">
        <h4>Connectivity Sponsor</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog14/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
        <a href="https://www.addix.net" target="_blank">
            <img src="/images/meetings/denog14/sponsor_addix.png" title="Addix">
        </a>
    </section>

</div>