<br>
<br>
<br>
<br>


<em><b>Diamond Sponsor</em>
<br>
<center>
<p align="center">

  <a href="https://www.iphh.net" target="_blank">
      <img src="/images/meetings/denog12/sponsor_iphh.png" style="margin-bottom:10px; height:140px;" title="IPHH">
  </a>
</p>

<p></p>
<em>Platin Sponsor</em>
<p align="center">
    <br>
    <center>

    <a href="https://www.de-cix.net" target="_blank">
        <img src="/images/meetings/denog12/sponsor_decix.png" style="margin-bottom:10px; height:60px;" title="DE-CIX">
    </a>
    <br>
    <br>

        <a href="https://www.core-backbone.com" target="_blank">
            <img src="/images/meetings/denog12/sponsor_corebb.png" style="margin-bottom:10px; height:60px;"
                title="Core-Backbone">
        </a>


            <br>
            <br>



                <a href="https://www.flexoptix.net" target="_blank">
        <img src="/images/meetings/denog12/sponsor_flexoptix.png"
            style="margin-bottom:10px; max-height:60px; width:120%;" title="Flexoptix">
    </a>

    <br>


</p>
<p></p>

<em align="center"><b>Virtual Support Sponsor</b></em>
<p align="center">
<br>

  <a href="https://www.bcix.de/" target="_blank">
      <img src="/images/meetings/denog13/sponsor_bcix.png" style="margin-bottom:10px; height:30px;"
          title="BCIX">
  </a>

      <br>
  <a href="https://www.syseleven.de/" target="_blank">
      <img src="/images/meetings/denog13/sponsor_syseleven.png" style="margin-bottom:10px; height:30px;"
          title="SysEleven">
  </a>
  <br>
</p>

<p align="center">
    <em align="center"><b>Streaming Location</b></em>
    <p align="center">
     <a href="https://www.inter.link" target="_blank">
        <img src="/images/meetings/denog13/interlink.png" style="margin-bottom:10px; height:50px;"
            title="Inter.Link">
     </a>

    </p>
<p></p>

<!--

<a href="https://www.de-cix.net" target="_blank">
    <img src="/images/meetings/denog12/sponsor_decix.png" style="margin-bottom:10px; height:60px;" title="DE-CIX">
</a>
<br>

<a href="https://www.iphh.net" target="_blank">
    <img src="/images/meetings/denog12/sponsor_iphh.png" style="margin-bottom:10px; height:60px;" title="IPHH">
</a>



<a href="https://www.aliternetworks.de/" target="_blank">
    <img src="/images/meetings/denog12/sponsor_aliter.png" style="margin-bottom:10px; height:30px;"
        title="Aliter Networks">
</a>
<br>
 <a href="https://www.sipgate.de/" target="_blank">
    <img src="/images/meetings/denog12/sponsor_sipgate.png" style="margin-bottom:10px; height:30px;"
        title="Sipgate">
</a>
<br>
 <a href="https://www.xantaro.de/" target="_blank">
    <img src="/images/meetings/denog12/sponsor_xantaro.png" style="margin-bottom:10px; height:30px;"
        title="Xantaro Service Integration">
</a>
<br>
 <a href="https://www.thycotic.com/" target="_blank">
    <img src="/images/meetings/denog12/sponsor_thycotic.png" style="margin-bottom:10px; height:30px;"
        title="Thycotic">
</a>
    <br>
 <a href="https:///www.nl-ix.net" target="_blank">
    <img src="/images/meetings/denog12/sponsor_NLIX.png" style="margin-bottom:10px; height:30px;"
        title="NL-IX">
</a>


<em><b>Gold Sponsor</b></em>
<p align="center">
    <a href="https://www.aliternetworks.com" target="_blank">
        <img src="/images/meetings/denog11/sponsor_aliter.png" style="margin-bottom:10px; height:40px;" title="Aliter Networks">
    </a>
<br>
    <a href="https://www.core-backbone.com" target="_blank">
        <img src="/images/meetings/denog11/sponsor_corebackbone.png" style="margin-bottom:10px; height:40px;"  title="Core Backbone">
    </a>
<br>
    <a href="https://www.thomas-krenn.com" target="_blank">
        <img src="/images/meetings/denog11/sponsor_thomaskrenn.jpg" style="margin-bottom:10px; height:40px;"  title="Thomas-Krenn.AG">
    </a>
    <br>
        <a href="https://www.flexoptix.net" target="_blank">
            <img src="/images/meetings/denog11/sponsor_flexoptics.jpg" style="margin-bottom:10px; height:35px;"  title="Flexoptix">
        </a>
</p>
<p></p>
<em><b>Lunch Sponsor</b></em>
<p align="center">
    <a href="https://www.centurylink.com" target="_blank">
        <img src="/images/meetings/denog11/sponsor_centurylink.png" style="margin-bottom:10px; height:40px;"  title="CenturyLink">
    </a>
</p>
<p></p>
<em><b>Coffee Sponsor</b></em>
<p align="center">

    <a href="https://www.kentik.com" target="_blank">
        <img src="/images/meetings/denog11/sponsor_kentik.png" style="margin-bottom:10px; height:20px;" title="Kentik">
    </a>
</p>
<p></p>
<em><b>Lanyard Sponsor</b></em>
<p align="center">

        <a href="https://www.dc1.com" target="_blank">
            <img src="/images/meetings/denog11/sponsor_dc1.jpg" style="margin-bottom:10px; height:65px;"  title="Datacenter One">
        </a>
</p>
<p></p>
<em><b>Silver Sponsor</b></em>
<p align="center">
    <a href="https://www.artfiles.de" target="_blank">
        <img src="/images/meetings/denog11/sponsor_artfiles.png" style="margin-bottom:10px; height:30px;" title="Artfiles New Media">
    </a>
<br>
    <a href="https://www.equinix.com" target="_blank">
        <img src="/images/meetings/denog11/sponsor_equinix.png" style="margin-bottom:10px; height:30px;" title="Equinix">
    </a>
<br>
    <a href="https://www.syseleven.de" target="_blank">
        <img src="/images/meetings/denog11/sponsor_syseleven.png" style="margin-bottom:10px; height:30px;"  title="SysEleven">
    </a>
<br>
    <a href="https://www.wobcom.de" target="_blank">
        <img src="/images/meetings/denog11/sponsor_wobcom.png" style="margin-bottom:10px; height:30px;" title="Wobcom">
    </a>
</p>
<p></p>
<em><b>Connectivity Sponsor</b></em>
<p align="center">
  <a href="https://www.addix.net" target="_blank">
      <img src="/images/meetings/denog11/sponsor_addix.png" style="margin-bottom:10px; height:30px;"  title="Addix">
  </a>
  <br>
  <a href="https://www.addix.net" target="_blank">
      <img src="/images/meetings/denog11/sponsor_deutsche_telekom.png" style="margin-bottom:10px; height:30px;"  title="Deutsche Telekom">
  </a>
<br>
--->
