<div id="footertopbadge" class="mainbgcolor">
    <div class="container">
        <span id="footertopbadgetext">Denog 9 Meeting 2017 - Hier Anmelden</span>
        <a href="{{ site.url }}/{{ page.lang }}/anmeldung.html" class="btn btn-custom-default" id="footertopbadgebutton">Mehr erfahren <i class="ion-arrow-right-c"></i></a>
    </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="{{ site.url }}/{{ page.lang }}/index.html">
          <img class="footer-logo" src="{{ site.url }}/images/logo-denog-small.png" alt="">
        </a>
        <ul class="footer-contacts">
          <li><i class="ion-android-pin"></i>DENOG Organisationskomittee </li>
          <li><i class="ion-android-mail"></i><a href="mailto:meeting-orga@lists.denog.de">Email</a> </li>
        </ul>
        <ul class="footer-social">
          <li><a href="https://www.linkedin.com/groups/2431807" title="LinkedIn"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://www.xing.com/communities/groups/denog-german-network-operators-group-ef9b-1056841" title="Xing"><img src="{{ site.url }}/images/xing-icon.png" style="height:13px;margin-top:-7px;" /></a></li>
          <li><a href="https://twitter.com/DENOGnews" title="Twitter"><i class="ion-social-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/groups/129584873762060/" title="Facebook"><i class="ion-social-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div>
            Copyright © 2011-{{ site.time |date:'%Y' }} <a href="{{ site.url }}/{{ page.lang }}/">DENOG</a>
          </div>
        </div>
        <div class="col-sm-6">
          <ul class="footer-menu">
            {% assign navigationData = site.data.navigation[page.lang] %}
            {% for entry in navigationData.bottom %}
            <li><a href="{{ site.url }}/{{ page.lang }}/{% if entry.url != 'index.html' %}{{ entry.url }}{% endif %}">{{ entry.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
