<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/{{ page.lang }}/"><img src="{{ site.url }}/images/denog_logo_outline_small.jpg" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% assign currentUrl = page.url %}
                    {% assign navigationData = site.data.navigation[page.lang] %}
                    {% for entry in navigationData.top %}
                    {% if entry.childs %}
                    <li class="dropdown">
                        {% assign mainClass = '' %}
                        {% for subentry in entry.childs %}
                            {% capture targetUrl %}/{{ page.lang }}/{% if entry.url != 'index.html' %}{{ subentry.url }}{% endif %}{% endcapture %}
                            {% assign targetUrlTmp = targetUrl|remove: 'index.html' %}
                            {% if targetUrlTmp == currentUrl %}{% assign mainClass = ' active' %}{% endif %}
                        {% endfor %}
                        <a class="dropdown-toggle{{ mainClass }}" data-toggle="dropdown" role="button" aria-expanded="false">{{ entry.text }} <span class="ion-ios-arrow-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for subentry in entry.childs %}
                                {% capture targetUrl %}/{{ page.lang }}/{% if entry.url != 'index.html' %}{{ subentry.url }}{% endif %}{% endcapture %}
                                {% assign targetUrlTmp = targetUrl|remove: 'index.html' %}
                                <li><a href="{{ site.url }}{{ targetUrl }}" {% if targetUrlTmp == currentUrl %}class="active"{% endif %}>{{ subentry.text }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                        {% capture targetUrl %}/{{ page.lang }}/{% if entry.url != 'index.html' %}{{ entry.url }}{% endif %}{% endcapture %}
                        {% assign targetUrlTmp = targetUrl|remove: 'index.html' %}
                        <li><a href="{{ site.url }}{{ targetUrl }}" {% if targetUrl == currentUrl or targetUrlTmp == currentUrl %}class="active"{% endif %}>{{ entry.text }}</a></li>
                    {% endif %}
                    {% endfor %}  
                        {% for language in site.data.navigation %}
                        {% assign pageLang = page.lang|default: '' %}
                            {% if page.url == '/' %}
                                {% assign langUrl = site.url|append: page.url|append: language[0] %}
                            {% else %}    
                                {% assign oldLangStr = '/' | append: pageLang | append: '/' %}
                                {% assign newLangStr = '/' | append: language[0] | append: '/' %}
                                {% assign langUrl = site.url|append: page.url|replace_first: oldLangStr, newLangStr %}
                        {% endif %}
                        <li style="display:none;"><a href="{{ langUrl }}" class="langlink{% if page.lang == language[0] %} active{% endif %}">{{ language[0] }}</a></li>
                    {% endfor %}
                </ul>                
            </div>
        </div>
    </nav>
</header>