<div id="conference_sponsors">
    <section class="conference_sponsors">
        <h4>Diamond Sponsor</h4>
        <a href="https://www.iphh.net/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_iphh.png" title="IPHH">
        </a>
    </section>

    <section class="conference_sponsors">
        <h4>Platinum Sponsors</h4>
        <a href="https://www.thomas-krenn.com/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_thomaskrenn.png" title="Thomas-Krenn">
        </a>
        <a href="https://www.flexoptix.net/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_flexoptix.png" title="FLEXOPTIX">
        </a>
        <a href="https://www.nesevo.com" target="_blank">
            <img src="/images/meetings/denog17/sponsor_nesevo.png" title="nesevo">
        </a>
        <a href="https://www.nokia.com" target="_blank">
            <img src="/images/meetings/denog17/sponsor_nokia.jpg" title="Nokia">
        </a>
        <a href="https://www.epsglobal.com" target="_blank">
            <img src="/images/meetings/denog17/sponsor_eps.png" title="EPS Global">
        </a>
    </section>

    <section class="conference_sponsors">
        <h4>Gold Sponsors</h4>
        <a href="https://www.arista.com/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_arista.jpg" title="Arista Networks">
        </a>
        <a href="https://www.smartoptics.com/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_smartoptics.png" title="Smartoptics">
        </a>
        <a href="https://www.core-backbone.com/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_corebb.png" title="Core-Backbone">
        </a>
        <a href="https://www.nl-ix.net/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_NLIX.png" title="NL-ix">
        </a>
        <a href="https://www.nomios.de/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_nomios.png" title="nomios">
        </a>
        <a href="https://www.lwlcom.net" target="_blank">
            <img src="/images/meetings/denog17/sponsor_lwlcom.png" title="LWLcom">
        </a>
    </section>

    <section class="conference_sponsors_small">
        <h4>Coffee Sponsor</h4>
        <a href="https://www.bcix.net" target="_blank">
            <img src="/images/meetings/denog17/sponsor_bcix.png" title="BCIX">
        </a>
        <h4>Lanyard Sponsor</h4>
        <a href="https://www.xantaro.net/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_xantaro.png" title="Xantaro">
        </a>
        <h4>MeetMe Sponsor</h4>
        <a href="https://atlasedge.com" target="_blank">
            <img src="/images/meetings/denog17/sponsor_atlasedge.png" title="AtlasEdge">
        </a>
        <h4>Lunch Sponsor</h4>
        <a href="https://www.de-cix.net" target="_blank">
            <img src="/images/meetings/denog17/sponsor_decix.png" title="DE-CIX">
        </a>
        <a href="https://www.telstra.com" target="_blank">
            <img src="/images/meetings/denog17/sponsor_telstra.png" title="Telstra">
        </a>
    </section>

    <section class="conference_sponsors_small">
        <h4>Support Sponsors</h4>
        <a href="https://www.syseleven.de/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_syseleven.png" title="SysEleven">
        </a>
        <a href="https://www.megaport.com/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_megaport.png" title="Megaport">
        </a>
        <a href="https://www.hetzner.com/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_hetzner.jpg" title="Hetzner Online">
        </a>
        <a href="https://www.netrio.de/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_netrio.png" title="netrio">
        </a>
        <a href="https://www.ipb.de/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_ipb.png" title="I/P/B/">
        </a>
        <a href="https://www.exainfra.net/" target="_blank">
            <img src="/images/meetings/denog17/sponsor_exa.png" title="ExaInfra">
        </a>
    </section>

    <section class="conference_sponsors_small">
        <h4>Interconnection Sponsors</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog17/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
    </section>
</div>