<div id="conference_sponsors">

    <section class="conference_sponsors_large">
        <h4>Our Sponsors</h4>
        Coming soon ...
    </section>
    <section class="conference_sponsors_small">
        <!-- <h4>Connectivity Sponsor</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog15/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
        <a href="https://www.rrbone.net" target="_blank">
            <img src="/images/meetings/denog15/sponsor_rrbone.png" title="rrbone">
        </a> -->
    </section>
    <br />
    <br />

</div>
