<div id="conference_sponsors">

    <section class="conference_sponsors_large">
        <h4>Supported by</h4>
        Kongressfonds Berlin / ERDF REACT-EU
        <a href="https://convention.visitberlin.de/kongressfonds-berlin" target="_blank">
            <img src="/images/meetings/denog15/sponsor_berlin.png" title="Kongressfonds Berlin"><br />
            <img src="/images/meetings/denog15/sponsor_eu_efre.jpg" title="EU ERDF">
        </a>
    </section>
    <section class="conference_sponsors_large">
        <h4>Diamond Sponsor</h4>
        <a href="https://www.bcix.de" target="_blank">
            <img src="/images/meetings/denog15/sponsor_bcix.png" title="BCIX">
        </a>
    </section>
    <section>
        <h4>Social Sponsors</h4>
        <a href="https://de-cix.net" target="_blank">
            <img src="/images/meetings/denog15/sponsor_decix.png" title="DE-CIX">
        </a>
    </section>


    <section class="conference_sponsors">
        <h4>Platinum Sponsors</h4>
        <a href="https://www.iphh.net/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_iphh.png" title="IPHH">
        </a>
        <a href="https://www.flexoptix.net/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_flexoptix.png" title="Flexoptix">
        </a>
        <a href="https://www.nl-ix.net/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_NLIX.png" title="NL-ix">
        </a>
        <a href="https://www.nesevo.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_nesevo.png" title="nesevo">
        </a>
    </section>


    <section class="conference_sponsors_small">
        <h4>Gold Sponsors</h4>
        <a href="https://www.core-backbone.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_corebb.png" title="Core-Backbone">
        </a>
        <a href="https://www.opengear.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_opengear.png" title="Opengear">
        </a>
    </section>


    <section class="conference_sponsors">
        <h4>Lunch Sponsor</h4>
        <a href="https://www.iphh.net/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_iphh.png" title="IPHH">
        </a>
        <h4>Coffee Sponsor</h4>
        <a href="https://www.inter.link/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_interlink.png" title="IPHH">
        </a>
        <h4>Lanyard Sponsor</h4>
        <a href="https://www.xantaro.net/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_xantaro.png" title="Xantaro">
        </a>
    </section>


    <section class="conference_sponsors_small">
        <h4>Support Sponsors</h4>
        <a href="https://www.thomas-krenn.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_thomaskrenn.jpg" title="IPHH">
        </a>
        <a href="https://www.ipb.de/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_ipb.png" title="I/P/B/">
        </a>
        <a href="https://www.link11.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_link11.png" title="Link11">
        </a>
        <a href="https://www.atlasedge.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_atlasedge.png" title="AtlasEdge">
        </a>
        <a href="https://www.dc1.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_dc1.jpg" title="Datacenter One">
        </a>
        <a href="https://vattenfall-eurofiber.de/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_vfeurofiber.png" title="Vattenfall Eurofiber">
        </a>
        <a href="https://uniberg.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_uniberg.png" title="UNIBERG">
        </a>
        <a href="https://babiel.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_babiel.png" title="babiel">
        </a>
        <h4>Connectivity Sponsors</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog15/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
        <a href="https://www.rrbone.net" target="_blank">
            <img src="/images/meetings/denog15/sponsor_rrbone.png" title="rrbone">
        </a>
    </section>
    <br />
    <br />

</div>
