<div id="conference_sponsors">

    <section class="conference_sponsors_large">
        <h4>Our Sponsors</h4>
        Comming soon ...
    </section>


    <section class="conference_sponsors_small">
        <h4>Support Sponsors</h4>
        <a href="https://www.thomas-krenn.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_thomaskrenn.jpg" title="IPHH">
        </a>
        <a href="https://www.ipb.de/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_ipb.png" title="I/P/B/">
        </a>
        <a href="https://www.link11.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_link11.png" title="Link11">
        </a>
        <a href="https://www.atlasedge.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_atlasedge.png" title="AtlasEdge">
        </a>
        <a href="https://www.dc1.com/" target="_blank">
            <img src="/images/meetings/denog15/sponsor_dc1.png" title="Datacenter One">
        </a>
        <h4>Connectivity Sponsors</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog15/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
        <a href="https://www.rrbone.net" target="_blank">
            <img src="/images/meetings/denog15/sponsor_rrbone.png" title="rrbone">
        </a>
    </section>
    <br />
    <br />

</div>