<div id="conference_sponsors">
    <section class="conference_sponsors">
        <h4>Diamond Sponsor</h4>
        <a href="https://www.portusdatacenters.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_ports.png" title="Portus" style="max-height:120px;">
        </a>
    </section>

    <section class="conference_sponsors">
        <h4>Platinum Sponsors</h4>
        <a href="https://stordis.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_stordis.png" title="STORDIS">
        </a>
        <!-- <a href="https://www.nesevo.com" target="_blank">
            <img src="/images/meetings/denog18/sponsor_nesevo.png" title="nesevo">
        </a>
        <a href="https://www.nokia.com" target="_blank">
            <img src="/images/meetings/denog18/sponsor_nokia.jpg" title="Nokia">
        </a>
        <a href="https://www.epsglobal.com" target="_blank">
            <img src="/images/meetings/denog18/sponsor_eps.png" title="EPS Global">
        </a>
        <a href="https://www.nl-ix.net/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_NLIX.png" title="NL-ix">
        </a>
        <a href="https://www.thomas-krenn.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_thomaskrenn.png" title="Thomas-Krenn"> -->
        </a>
    </section>

    <section class="conference_sponsors">
        <h4>Gold Sponsors</h4>
        <a href="https://www.lwlcom.net" target="_blank">
            <img src="/images/meetings/denog18/sponsor_lwlcom.png" title="LWLcom">
        </a>
        <a href="https://www.core-backbone.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_corebackbone.png" title="Core-Backbone">
        </a>
        <a href="https://www.flexoptix.net/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_flexoptix.png" title="FLEXOPTIX">
        </a>
        <a href="https://www.smartoptics.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_smartoptics.png" title="Smartoptics">
        </a>
        <a href="https://www.benocs.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_benocs.png" title="BENOCS">
        </a>

        <!-- <a href="https://www.senko.com/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_senko.png" title="SENKO">
        </a> -->
    </section>

    <section class="conference_sponsors_small">
        <!-- <h4>Coffee Sponsor</h4>
        <a href="https://www.arista.com" target="_blank">
            <img src="/images/meetings/denog18/sponsor_arista.png" title="Arista">
        </a> -->
        <h4>MeetMe Sponsor</h4>
        <a href="https://www.xantaro.net/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_xantaro.png" title="Xantaro">
        </a>
        <!-- Lanyard Sponsor
        <a href="https://www.exaring.de/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_exaring.png" title="EXARING">
        </a> -->
    </section>

    <section class="conference_sponsors_small">
        <h4>Support Sponsors</h4>
        <a href="https://www.ipb.de/" target="_blank">
            <img src="/images/meetings/denog18/sponsor_ipb.png" title="I/P/B/">
        </a>
    </section>

    <section class="conference_sponsors_small">
        <h4>Interconnection Sponsors</h4>
        <a href="https://www.telekom.de" target="_blank">
            <img src="/images/meetings/denog18/sponsor_dtag.png" title="Deutsche Telekom">
        </a>
    </section>
</div>