---
layout: default
---



<table>
    <tr>
        <td valign='top' style='width:15%;'>
               <img src='https://www.denog.de/images/denog-logo-konferenz-11_v001_whitebg.png' style='width:250px;'>
            <br>
               <br>
               <br>
               <br>
               <br>
               <br>
                <li>Überblick</li>
                <li>Zeitplan</li>
                <li>Call for Papers</li>
                <li>Registration | Teilnehmer</li>
                <li>Location</li>
                <li>Hotels</li>
                <li>Orga Team</li>
                <li>Sponsoring</li>
        </td>
        <td valign='top' style='width:70%; font-family:verdana; font-size:12pt;'>

<div class="page-section" id="page">
    {{ content }}
</div>

</td>
<td  valign='top' style='width:5%;' >
</td>
<td  valign='top' style='width:15%;' >
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    <center><b>Sponsoren</b></center><br>
    <br>
</td>
</tr>

</table>
